#button-ctn{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 50% 50%;
  width: 100px;
  height: 100px;
  font-size: 20px;
  color: white;
  background-color: #cb510b;
  border-width: 0;
  z-index: 1;
}
button:hover {
  opacity: 0.7;
  cursor: pointer;
}

#basketball-outline {
  width: 100px;
  position: absolute;
}

.toggle-btn-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
}