body {
  margin: 0;
  background-color: #16141c;
}

.MesCon {
  margin: 0.3rem;
  background-color: #542381
};

.userMesCon {
  display: flex;
  justify-content: flex-end;
};

.othMesCon {
  justify-content: flex-start;
};

.Mes {
  width: 40%;
  padding: 1rem;
}

.myMes {
  width: 40%;
  padding: 1rem;
  border: 1px solid lightblue;
  background-color: #526bce;
};

.othMes {
  width: 40%;
  padding: 1rem;
  border: 1px solid lightblue;
  background-color: #542381;
};

.messageDisplay {
  /* border: 1px solid lightgray; */
  height: 65vh;
  width: 60vw;
  overflow-y: auto;
  max-width: 80vw;
  padding: 2rem;
};
